{% extends 'base.html.twig' %}
{% block alert %}
    <div class="row">
&nbsp;
    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="jumbotron" style="margin-top: 1rem;">
        <h1>OAuth2 Client</h1>
        <p>OAuth2 Client - Basic configuration</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <a href="{{ path('oauth2_login') }}" class="btn btn-info">Login</a> 
        </div>
    </div>
</div>
{% endblock %}